html {
  margin: 0;

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;

    main {
      .sidebar {
        border-right: 2px solid #000;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        height: 100vh;
        padding: 20px;
        vertical-align: top;
        width: 19%;

        section {
          margin-bottom: 30px;

          .section-title {
            cursor: pointer;
            font-weight: 700;
          }
          .subsection-title {
            cursor: pointer;
            margin-left: 20px;
          }
        }
      }
      .primary-content {
        display: inline-block;
        float: left;
        height: 100vh;
        overflow: scroll;
        position: relative;
        vertical-align: top;
        width: 65%;

        h2 {
          margin-left: 20px;
        }

        .content-section {
          background: #f1f1f1;
          box-sizing: border-box;
          height: auto;
          margin: 5px 0;
          overflow: hidden;
          padding: 20px;
          position: relative;

          iframe {
            display: block;
            height: 25vw;
            margin: 10px auto;
            width: 45vw;
          }

          img {
            display: block;
            margin: 10px auto;
            width: 45vw;
          }

          .add-custom {
            background: #0c6;
            border-radius: 50%;
            bottom: 20px;
            color: #fff;
            cursor: pointer;
            font-size: 24px;
            padding: 10px 20px;
            position: absolute;
            right: 20px;
          }
        }
      }
      .custom-content {
        background: #fff;
        border-left: 2px solid #000;
        box-sizing: border-box;
        display: inline-block;
        height: 100vh;
        overflow: scroll;
        padding: 20px;
        vertical-align: top;
        width: 15%;

        .custom-section {
          margin-bottom: 5px;

          .remove-section {
            background: #ff0000;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            line-height: 15px;
            margin-right: 10px;
            padding: 0px 6px 2px 6px;
          }
        }
        .show-link {
          margin-top: 15px;
        }
      }
      .link-modal {
        background: #fff;
        box-shadow: 0 0 11px 2px rgba(0,0,0,0.3);
        box-sizing: border-box;
        left: 50%;
        padding: 30px;
        position: absolute;
        text-align: center;
        top: 200px;
        transform: translateX(-50%);

        .close-modal {
          cursor: pointer;
          position: absolute;
          right: 20px;
          top: 10px;
        }
      }
    }
  }
}

.custom-results {
  overflow: auto;

  h1 {
    margin-left: 20px;
  }
  .result-section {
    background: #f1f1f1;
    box-sizing: border-box;
    height: auto;
    margin: 5px 0;
    overflow: hidden;
    padding: 20px;
    width: 100%;

    iframe {
      display: block;
      height: 36vw;
      margin: 10px auto;
      width: 65vw;
    }

    img {
      display: block;
      margin: 10px auto;
      width: 65vw;
    }
  }
}
