// Mixins
@mixin mobile {
  @media (min-width: #{$screen-xs}) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-sm}) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-md}) {
      @content;
  }
}

@mixin monitor {
  @media (min-width: #{$screen-lg}) {
      @content;
  }
}

%transition {
  transition: 0.2s ease-out;
}

// Variables
$color-white: #fff;
$color-black: #000;
$color-grey-light: #f2f2f2;
$color-grey: #bbb;
$color-red-dark: #D23F31;
$color-blue: #4285F4;

// Main styling
html {
  margin: 0;

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    background: $color-grey-light;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;

    h1,
    h2,
    h3 {
      font-weight: 400;
    }

    .button {
      @extend %transition;
      background: $color-blue;
      border: 2px;
      color: $color-white;
      cursor: pointer;
      font-size: 13px;
      margin-top: 15px;
      padding: 10px 20px;
      transition-property: background;

      &:hover {
        background: darken($color-blue, 5%);
      }
      &:focus {
        outline: 0;
      }
    }

    main {
      .sidebar {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        height: 100vh;
        padding: 20px;
        vertical-align: top;
        width: 15%;

        section {
          margin-bottom: 30px;

          .section-title {
            cursor: pointer;
            font-weight: 700;
          }
          .subsection-title {
            cursor: pointer;
            margin-left: 20px;
          }
        }
      }
      .primary-content {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        height: 100vh;
        overflow: scroll;
        padding-bottom: 30px;
        position: relative;
        vertical-align: top;
        width: 67%;

        h2 {
          margin-left: 20px;
        }

        .placeholder-text {
          margin-left: 20px;
        }

        .content-section {
          background: $color-white;
          box-shadow: 0 0 18px 2px rgba(0,0,0,0.1);
          box-sizing: border-box;
          height: auto;
          margin: 0 auto 20px auto;
          overflow: hidden;
          padding: 20px;
          position: relative;
          width: 95%;

          &:last-of-type {
            margin-bottom: 0;
          }

          .subsection-title {
            margin-top: 0;
          }

          .content-main {
            box-sizing: border-box;
            padding-right: 80px;
          }

          iframe {
            display: block;
            height: 25vw;
            margin: 10px auto;
            width: 45vw;
          }

          img {
            display: block;
            margin: 10px auto;
            width: 45vw;
          }

          .add-custom {
            @extend %transition;
            background: $color-red-dark;
            border-radius: 50%;
            box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);
            bottom: 20px;
            color: $color-white;
            cursor: pointer;
            font-size: 24px;
            padding: 10px 20px;
            position: absolute;
            right: 20px;
            transition-property: box-shadow, transform;

            &:hover {
              box-shadow: 0 0 12px 3px rgba(0,0,0,0.22);
              transform: scale(1.04);
            }

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
            }
          }
        }
      }
      .custom-content {
        box-sizing: border-box;
        display: inline-block;
        height: 100vh;
        overflow: scroll;
        padding: 20px;
        vertical-align: top;
        width: 17%;

        .custom-content-title {
          margin-top: 0;
        }

        ul {
          min-height: 50px;
          padding: 0;
          position: relative;

          .custom-section {
            cursor: move;
            list-style-type: none;
            margin-bottom: 5px;
            position: relative;

            .remove-section {
              @extend %transition;
              color: $color-grey;
              cursor: pointer;
              display: inline-block;
              font-size: 20px;
              line-height: 15px;
              padding: 3px 8px 2px 3px;
              transition-property: color;
              vertical-align: top;

              &:hover {
                color: darken($color-grey, 10%);
              }
            }
          }
        }
      }
      .link-modal {
        background: $color-white;
        box-shadow: 0 0 11px 2px rgba(0,0,0,0.3);
        box-sizing: border-box;
        left: 50%;
        padding: 30px;
        position: absolute;
        text-align: center;
        top: 200px;
        transform: translateX(-50%);
        z-index: 1;

        .close-modal {
          cursor: pointer;
          font-size: 24px;
          position: absolute;
          right: 20px;
          top: 10px;
        }
      }
      .overlay {
        background: $color-white;
        height: 100vh;
        left: 0;
        opacity: 0.7;
        position: absolute;
        top: 0;
        width: 100vw;
      }
    }
  }
}

.custom-results {
  overflow: auto;

  main {
    margin: 0 auto;
    max-width: 1144px;
    padding-bottom: 30px;

    .result-section {
      background: $color-white;
      box-shadow: 0 15px 18px 2px rgba(0,0,0,0.1);
      box-sizing: border-box;
      height: auto;
      margin: 5px 0 -5px 0;
      overflow: hidden;
      padding: 20px;
      width: 100%;

      iframe {
        display: block;
        height: 36vw;
        margin: 10px auto;
        width: 65vw;
      }

      img {
        display: block;
        margin: 10px auto;
        width: 65vw;
      }
    }
  }
}
