// Mixins
@mixin mobile {
  @media (min-width: #{480px}) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: #{768px}) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: #{1144px}) {
      @content;
  }
}

@mixin monitor {
  @media (min-width: #{1280px}) {
      @content;
  }
}

%transition {
  transition: 0.2s ease-out;
}

// Variables
$color-white: #fff;
$color-black: #000;
$color-grey-light: #f2f2f2;
$color-grey: #bbb;
$color-grey-lightish: #e2e2e2;
$color-grey-dark: #898989;
$color-red-dark: #D23F31;
$color-blue: #4285F4;
$color-green: #77C159;
$color-green-dark: #6ab344;


// Main styling
html {
  margin: 0;

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    background: $color-grey-light;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;

    h1,
    h2,
    h3 {
      font-weight: 400;
    }

    .button {
      @extend %transition;
      background: $color-green;
      border: 2px;
      color: $color-white;
      cursor: pointer;
      font-size: 13px;
      margin-top: 15px;
      padding: 10px 20px;
      transition-property: background;

      &:hover {
        background: darken($color-green, 5%);
      }
      &:focus {
        outline: 0;
      }
    }

    header {
      background: $color-green;
      box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
      color: $color-white;
      height: 70px;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;

      .hamburger {
        cursor: pointer;
        font-size: 32px;
        margin: 20px 20px 0 18px;
      }

      .header-title {
        display: inline-block;
        margin-top: -25px;
        vertical-align: middle;
      }
    }

    .sidebar {
      @extend %transition;
      background: $color-white;
      box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
      box-sizing: border-box;
      display: inline-block;
      float: left;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate3d(-300px, 0, 0);
      transition-property: transform;
      vertical-align: top;
      width: 250px;
      z-index: 2;

      &.expanded {
        transform: translate3d(0, 0, 0);
      }

      .menu-title {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        box-sizing: border-box;
        color: darken($color-grey, 15%);
        font-size: 22px;
        font-weight: 700;
        height: 70px;
        margin-bottom: 20px;
        padding: 25px 0 0 20px;
        text-transform: uppercase;
      }

      section {
        margin-bottom: 30px;
        padding-left: 20px;

        .section-title {
          @extend %transition;
          cursor: pointer;
          font-size: 13px;
          font-weight: 700;
          margin-bottom: 13px;
          transition-property: color;

          &.highlight,
          &:hover {
            color: $color-green-dark;
          }
        }
        .subsection-title {
          @extend %transition;
          cursor: pointer;
          font-size: 13px;
          margin: 10px 0 0 20px;
          transition-property: color;

          &.highlight,
          &:hover {
            color: $color-green-dark;
          }
        }
      }
    }

    .overlay {
      background: $color-black;
      height: 100vh;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 1;
    }

    main {
      margin: 70px 0;

      .primary-content {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        height: 100vh;
        margin-left: 10%;
        overflow: scroll;
        padding-bottom: 90px;
        position: relative;
        vertical-align: top;
        width: 72%;

        .content-title {
          @extend %transition;
          color: $color-green-dark;
          font-size: 22px;
          margin-left: 10px;
          transition-property: opacity;

          &.hidden {
            opacity: 0;
          }
        }

        .placeholder-text {
          font-size: 18px;
          margin-left: 10px;
        }

        .content-section {
          @extend %transition;
          background: $color-white;
          box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
          box-sizing: border-box;
          cursor: pointer;
          display: block;
          height: 460px;
          margin: 0 auto 20px auto;
          overflow: hidden;
          padding: 20px;
          position: relative;
          transition-property: box-shadow, transform, overflow;
          vertical-align: top;
          width: 95%;

          &:hover {
            box-shadow: 0 0 18px 2px rgba(0,0,0,0.15);
            transform: scale(1.01);
          }

          @include tablet {
            display: inline-block;
            height: 460px;
            margin: 0 1% 20px 1%;
            overflow: hidden;
            width: 46%;
          }

          @include desktop {
            width: 30%;
          }

          &.expanded {
            cursor: default;
            height: 580px;
            margin: 0 auto 20px auto;
            overflow: visible;
            width: 95%;
            transform: translateY(-40px);

            &:hover {
              box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
              transform: translateY(-40px);
            }

            img {
              max-height: 350px;
              width: auto;
            }
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          .subsection-title {
            margin-top: 0;
          }

          .content-main {
            box-sizing: border-box;
          }

          iframe {
            display: block;
            height: 350px;
            margin: 10px auto;
            width: 100%;
          }

          img {
            display: block;
            margin: 10px auto;
            width: 100%;
          }

          .notes {
            margin: 25px 0 0 0;
          }

          .add-custom {
            @extend %transition;
            background: $color-red-dark;
            border-radius: 50%;
            bottom: -73px;
            box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);
            color: $color-white;
            cursor: pointer;
            font-size: 24px;
            left: 50%;
            margin-left: -30px;
            padding: 10px 20px;
            position: absolute;
            transition-property: box-shadow, transform;

            &:hover {
              box-shadow: 0 0 12px 3px rgba(0,0,0,0.22);
              transform: scale(1.04);
            }

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
            }
          }

          .controls {
            bottom: -65px;
            left: 0px;
            position: absolute;
            width: 100%;

            .next,
            .prev {
              cursor: pointer;
              display: inline-block;

              i {
                vertical-align: top;
              }

              .control-title {
                color: $color-grey-dark;
              }
            }

            .next {
              float: right;
            }

            .prev {
              .control-title {
                margin-left: 28px;
              }
            }
          }
        }
      }
      .custom-content {
        box-sizing: border-box;
        display: inline-block;
        height: 100vh;
        overflow: scroll;
        padding: 20px;
        vertical-align: top;
        width: 17%;

        .custom-content-title {
          color: $color-green-dark;
          cursor: pointer;
          display: inline;
          margin: 0;
        }

        .material-icons{
          color: $color-grey;
          cursor: pointer;
          font-size: 18px;
        }

        ul {
          min-height: 50px;
          padding: 0;
          position: relative;

          .custom-section {
            @extend %transition;
            box-sizing: border-box;
            cursor: move;
            list-style-type: none;
            padding: 5px;
            position: relative;
            transition-property: background;

            &:hover {
              background: $color-grey-lightish;
            }

            .remove-section {
              @extend %transition;
              color: $color-grey;
              cursor: pointer;
              display: inline-block;
              font-size: 20px;
              line-height: 15px;
              padding: 3px 8px 2px 3px;
              transition-property: color;
              vertical-align: top;

              &:hover {
                color: darken($color-grey, 10%);
              }
            }
          }
        }
      }
      .link-modal {
        background: $color-white;
        box-shadow: 0 0 11px 2px rgba(0,0,0,0.3);
        box-sizing: border-box;
        left: 50%;
        padding: 30px;
        position: absolute;
        text-align: center;
        top: 200px;
        transform: translateX(-50%);
        z-index: 3;

        .close-modal {
          cursor: pointer;
          font-size: 24px;
          position: absolute;
          right: 20px;
          top: 10px;
        }
      }
      .overlay {
        background: $color-black;
        height: 100vh;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100vw;
      }
    }
  }
}

html {
  height: 100vh;

  .custom-results {
    background: $color-white;
    height: 100vh;
    margin-top: 0;
    overflow: auto;
    width: 100%;

    .fullscreen {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 99;

      i {
        font-size: 32px;
        color: rgba(0,0,0,0.3);
      }
    }

    main {
      margin: 0 auto;
      max-width: 1144px;
      padding-bottom: 30px;

      ul {
        height: 91vh;
        margin-top: 0;
        padding: 0;
        position: relative;

        .result-section {
          background: $color-white;
          // border: 1px solid rgba(0,0,0,0.2);
          box-sizing: border-box;
          height: 100%;
          list-style-type: none;
          margin: 5px 0 -5px 0;
          overflow: hidden;
          padding: 10px;
          position: absolute;
          -webkit-transition: left 0.3s ease-out;
          width: 100%;

          &:last-of-type {
            // box-shadow: 0 15px 18px 2px rgba(0,0,0,0.1);
          }


          &.card-hide {
            left: -100vw !important;
          }

          .content-header {
            margin-top: 0;
          }

          .content-main {
            height: 92%;

            iframe {
              display: block;
              height: 92%;
              margin: 10px auto;
              width: 100%;
            }

            img {
              display: block;
              margin: 10px auto;
              width: 65vw;
            }
          }

        }
      }
    }
    .controls {
      background: $color-green;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      padding: 30px 0;
      position: absolute;
      width: 100%;
      z-index: 99;

      .controls-inner {
        margin: 0 auto;
        max-width: 1144px;

        .btn-pre,
        .btn-next {
          color: $color-white;
          cursor: pointer;
          display: inline-block;

          .material-icons {
            vertical-align: top;
          }

          &.disable {
            opacity: 0.5;
            pointer-events: none;
          }
        }
        .btn-next {
          float: right;
          padding-right: 20px;

          @include desktop {
            padding-right: 0;
          }
        }
        .btn-pre {
          padding-left: 20px;

          @include desktop {
            padding-left: 0;
          }
        }
      }
    }
  }
}
